<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Oblisk Shipping</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>

		<link
			rel="icon"
			href="{{ url_for('static', filename='Assets/icons/favicon.png') }}"
			type="image/x-icon"
		/>

		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/index.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/navbar.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/hero_section.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/Services.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/section1.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/section2.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/section3.css') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='./styles/footer.css') }}"
		/>
		<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	</head>
	<body>
		<nav>
			<div class="nav-container">
				<div class="title-container">
					<a href="/" class="title">Obelisk Shipping</a>
				</div>
				<div id="links-container-id" class="link-container">
					<ul class="page-links">
						<li id="link-button" class="page-links-list">Services</li>
						<div id="services_list" class="services-list-container">
							<ul class="services-list">
								<li class="services-list-links">
									<a
										hx-get="air_freight.html"
										hx-target="#main_body"
										hx-trigger="click"
										hx-swap="innerHTML"
										href="/air_freight.html"
										>Air Freight</a
									>
								</li>
								<li class="services-list-links">
									<a
										hx-get="land_freight.html"
										hx-target="#main_body"
										hx-trigger="click"
										hx-swap="innerHTML"
										href="/land_freight.html"
										>Land Freight</a
									>
								</li>
								<li class="services-list-links">
									<a
										hx-get="sea_freight.html"
										hx-target="#main_body"
										hx-trigger="click"
										hx-swap="innerHTML"
										href="/sea_freight.html"
										>Sea Freight</a
									>
								</li>
								<li class="services-list-links">
									<a href="mailto:operation1@obeliskshipping.com"
										>Custom Clearence</a
									>
								</li>
							</ul>
						</div>

						<li class="page-links-list">
							<a
								href="/resources.html"
								hx-get="resources.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>Resources</a
							>
						</li>
						<li class="page-links-list">
							<a
								hx-get="about_us.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								href="/about_us.html"
								>About Us</a
							>
						</li>
						<li class="page-links-list">
							<a
								href="/support.html"
								hx-get="support.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>Support</a
							>
						</li>
					</ul>
				</div>
				<div class="navbar-button-container">
					<a href="mailto:gm@obeliskshipping.com" class="navbar-shipping-button"
						>Ship With Us</a
					>
				</div>
				<div id="hamburger-button" class="hamburger">
					<span></span>
					<span></span>
				</div>
			</div>
		</nav>
		<main id="main_body">
			<div class="hero-section">
				<div class="overlay"></div>
				<img
					class="hero-image"
					src="{{url_for('static',filename='Assets/land_freight/hero_land_image.jpg')}}"
					alt="airplane"
				/>
				<div class="hero-service-container">
					<h1>Land Freight</h1>
					<p>
						Obelisk Shipping is dedicated to providing safe and timely delivery
						for your land freight shipments, backed by strong relationships with
						reliable ground transportation providers.
						<br role="presentation" />
						Our experienced team manages every step, from booking to final
						delivery, offering competitive rates and flexible transit options
						tailored to your specific logistics needs.
					</p>

					<div class="service-button-container">
						<a href="mailto:gm@obeliskshipping.com">Connect with experts</a>
					</div>
				</div>
			</div>
			<div class="left-card">
				<div class="card-content">
					<h1>
						Tailored land freight solutions to support your business growth
					</h1>
					<p>
						Obelisk Shipping provides a comprehensive range of land freight
						services designed to meet the unique requirements of your business.
						Our dedicated team and trusted carrier partnerships streamline your
						land freight operations, managing each step from booking and pickups
						to documentation and final delivery.
					</p>
				</div>
				<img
					src="{{url_for('static', filename='Assets/land_freight/truck_image1.jpg')}}"
					alt="image1"
				/>
			</div>
			<div class="column-container">
				<h2 class="column-heading">
					What sets our Land freight services apart
				</h2>
				<div class="column-section">
					<div class="columns">
						<div class="column-headings">
							<img
								src="{{url_for('static', filename='Assets/icons/icon-badge2.webp')}}"
								alt="plane"
							/>
							<h3>Industry capacity</h3>
						</div>
						<p class="column-paragraph">
							Our strong partnerships with a diverse network of ground carriers
							offer you flexible capacity options, ensuring your freight moves
							efficiently, even during busy periods. From standard deliveries to
							expedited services, Obelisk Shipping has the carrier connections
							to meet your specific land freight needs.
						</p>
					</div>
					<div class="columns">
						<div class="column-headings">
							<img
								src="{{url_for('static', filename='Assets/icons/Visibility-icon.svg')}}"
								alt="laptop"
							/>
							<h3>Transparent visibility</h3>
						</div>
						<p class="column-paragraph">
							Obelisk Shipping’s advanced tracking tools offer clear visibility
							throughout the shipping process, allowing you to monitor your
							cargo’s journey every step of the way. With reliable tracking,
							streamlined documentation, and easy access to shipping
							information, we help you make informed decisions to keep your
							logistics running smoothly.
						</p>
					</div>
					<div class="columns">
						<div class="column-headings">
							<img
								src="{{url_for('static', filename='Assets/icons/Support-icon.svg')}}"
								alt="Support"
							/>
							<h3>Expert support and consulting</h3>
						</div>
						<p class="column-paragraph">
							Obelisk Shipping delivers expert support and tailored air freight
							services designed to meet your unique business requirements.
							Whether it’s handling oversized cargo or ensuring temperature
							control for perishables, our team will craft a shipping plan that
							ensures safe, timely delivery for your freight.
						</p>
					</div>
				</div>
			</div>
			<div class="end-section">
				<div class="overlay"></div>
				<img
					class="end-image"
					src="{{url_for('static',filename='Assets/land_freight/end-image.jpg')}}"
					alt="airplane"
				/>
				<div class="end-container">
					<h1>Land freight shipping made simple</h1>
					<p>
						Contact us to partner with a skilled team of global transportation
						<br role="presentation" />
						professionals for your land freight needs.
					</p>
					<div class="button-end-container">
						<a href="mailto:gm@obeliskshipping.com">Connect With expert</a>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="footer-container">
				<div class="footer-title">
					<a href="/">Obelisk Shipping</a>
				</div>
				<div class="footer-services">
					<ul>
						<p id="service-footer-button">Services</p>
						<div id="service_list_mobile" class="services-list-mobile">
							<a
								href="/air_freight.html"
								hx-get="air_freight.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>Air Freight</a
							>
							<a
								href="/sea_freight.html"
								hx-get="sea_freight.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>Sea Freight</a
							>
							<a
								href="/land_freight.html"
								hx-get="land_freight.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>Land Freight</a
							>
							<a href="mailto=operation1@obeliskshipping.com"
								>Custom Clearance</a
							>
						</div>
						<li>
							<a
								href="/resources.html"
								hx-get="resources.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>Resources</a
							>
						</li>
						<li>
							<a
								href="/about Us.html"
								hx-get="about_Us.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>About Us</a
							>
						</li>
						<li>
							<a
								href="/support.html"
								hx-get="support.html"
								hx-target="#main_body"
								hx-trigger="click"
								hx-swap="innerHTML"
								>Support</a
							>
						</li>
					</ul>
				</div>
				<div class="services-footer-list">
					<a
						href="/air_freight.html"
						hx-get="air_freight.html"
						hx-target="#main_body"
						hx-trigger="click"
						hx-swap="innerHTML"
						>Air Freight</a
					>
					<a
						href="/sea_freight.html"
						hx-get="sea_freight.html"
						hx-target="#main_body"
						hx-trigger="click"
						hx-swap="innerHTML"
						>Sea Freight</a
					>
					<a
						href="/land_freight.html"
						hx-get="land_freight.html"
						hx-target="#main_body"
						hx-trigger="click"
						hx-swap="innerHTML"
						>Land Freight</a
					>
					<a href="mailto=operation1@obeliskshipping.com">Custom Clearance</a>
				</div>
				<div class="social-media-icons">
					<a href="https://www.facebook.com" target="_blank">
						<img
							src="{{ url_for('static', filename='Assets/icons/icons8-facebook.png') }}"
							alt="Facebook"
							width="30"
						/>
					</a>
					<a href="https://www.twitter.com" target="_blank">
						<img
							src="{{ url_for('static', filename='Assets/icons/icons8-twitterx.png') }}"
							alt="Facebook"
							width="30"
						/>
					</a>
					<a href="https://www.linkedin.com" target="_blank">
						<img
							src="{{ url_for('static', filename='Assets/icons/icons8-linkedin.png') }}"
							alt="Facebook"
							width="30"
						/>
					</a>
					<a href="https://www.instagram.com" target="_blank">
						<img
							src="{{ url_for('static', filename='Assets/icons/icons8-instagram.png') }}"
							alt="Facebook"
							width="30"
						/>
					</a>
				</div>
				<div class="footer-copyright">
					<p>&copy; <span id="year"></span> Obelisk Shipping</p>
				</div>
			</div>
		</footer>
		<script src="{{url_for('static',filename='js/index.js')}}"></script>
	</body>
</html>
