footer {
	background-color: black;
	position: relative;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	color: whitesmoke;
}
.footer-container {
	width: 100%;
	height: auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-title {
	margin: 2rem 0;
}
.footer-title a {
	font-size: 2rem;
	font-weight: 600;
	text-decoration: none;
	cursor: default;
	color: whitesmoke;
}
.footer-services {
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.footer-services ul {
	cursor: default;
	height: fit-content;
	width: 65%;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-services ul li {
	list-style: none;
}
.footer-services ul p {
	margin: 0;
	font-size: x-large;
	font-weight: 600;
}

.footer-services ul li a {
	font-size: x-large;
	font-weight: 600;
	text-decoration: none;
	color: whitesmoke;
	cursor: default;
}

.Services-list {
	max-width: fit-content;
	height: fit-content;
	padding: 0;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: left;
}

.Services-list a {
	font-size: large;
	text-decoration: none;
	color: whitesmoke;
	padding: 1rem 0;
	cursor: default;
}
.social-media-icons {
	width: min-content;
	height: min-content;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.social-media-icons img {
	background-color: white;
	border-radius: 25rem;
	margin: 0 10px;
	transition: transform 0.3s;
}

.social-media-icons img:hover {
	transform: scale(1.1);
}

.Services-mobile-list {
	display: none;
}
.footer-copyright {
	cursor: default;
}
.servive_footer_list {
	display: none;
}

@media only screen and (max-width: 600px) {
	.Services-list {
		display: none;
	}
	.footer-services ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 1rem;
	}
	.Services-mobile-list {
		margin-top: 0;
		margin-bottom: 0.8rem;
	}
	.Services-mobile-list ul {
		display: flex;
		margin: 0;
		flex-direction: column;
		row-gap: 10px;
		white-space: nowrap;
		align-items: start;
	}
	.servive_footer_list {
		display: none;
	}
}
