.hero-container {
	width: 100vw;
	height: 85vh;
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	justify-content: start;
	align-items: center;
}

.hero-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}
.hero-mobile-video {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
	z-index: 2;
}

.content-container {
	position: absolute;
	padding: 0 3rem;
	display: flex;
	flex-direction: column;
	z-index: 3;
	color: whitesmoke;
}

.button-container {
	background-color: whitesmoke;
	max-width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 25rem;
}
.button-container:hover {
	background-color: grey;
}
.shipping-button {
	text-decoration: none;
	color: black;
}

@media only screen and (min-width: 600px) and (max-width: 1020px) {
	.hero-container {
		width: 100vw;
		min-height: 85vh;
		margin: 0;
		padding: 0;
		position: relative;
		display: flex;
		justify-content: start;
		align-items: center;
	}

	.hero-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
	h1 {
		font-size: 3.5em;
	}
	p {
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
	}

	.overlay {
		background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.9),
			transparent
		);
	}
	.hero-container {
		min-height: 100vh;
	}
	.content-container {
		padding: 0 1.99rem;
	}
	.hero-video {
		display: none;
	}
	.hero-mobile-video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
}
