body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(227, 226, 226);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
