nav {
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	background-color: black;
	min-height: 10vh;
	width: 100vw;
}
.nav-container {
	display: flex;
	flex-direction: row;
	padding: 0 1.5rem;
	justify-content: space-between;
	align-items: center;
}
.title-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.page-links {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.page-links-list,
.page-links-list a {
	text-decoration: none;
	color: whitesmoke;
	padding: 0.625rem 0.65rem;
	cursor: default;
}
/* .page-links-list a::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background-color: currentColor;
	transform: scaleX(0);
	transition: transform 0.3s ease;
} */
.page-links-list a:hover {
	text-decoration: none; /* Remove the default underline */
	font-weight: 500;
}
.page-links-list a:hover::after {
	transform: scaleX(1); /* Scale the underline to full width on hover */
}
/* shipping button */
.navbar-button-container {
	background-color: whitesmoke;
	max-width: max-content;
	min-height: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	border-radius: 25rem;
}
.navbar-shipping-button {
	text-decoration: none;
	color: black;
}

.services-list-container {
	position: absolute;
	top: 8vh;
	max-height: fit-content;
	width: 165px;
	display: none;
	background-color: white;
	justify-content: space-between;
	align-items: center;
}
.services-list-container.show {
	display: flex;
}

.page-links-list:hover .services-list-container {
	display: flex;
}
.services-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.services-list-links {
	padding: 0.3rem 0;
	list-style: none;
	row-gap: 3px;
}
.services-list-links a {
	text-decoration: none;
	color: black;
}

.services-list-links a:hover {
	font-weight: 600;
}

.hamburger {
	display: none;
}

@media only screen and (min-width: 1024px) {
	/*DESKTOP*/
	.nav-container {
		width: 100%;
		height: 90%;
	}

	.title-container {
		margin: 0 1rem;
		padding: 0.625rem 0;
	}

	.title {
		cursor: default;
		text-decoration: none;
		font-size: 1.5rem;
		color: whitesmoke;
		font-weight: 600;
		white-space: nowrap;
	}
	.navbar-button-container {
		background-color: whitesmoke;
		height: 65%;
		padding: 0 1rem;
		border-radius: 25rem;
	}
	.navbar-shipping-button {
		text-decoration: none;
		color: black;
	}
}
@media only screen and (min-width: 600px) and (max-width: 1020px) {
	/*TABLET*/
	nav {
		width: 100vw;
		height: 20vh;
	}

	.nav-container {
		width: 100%;
		height: 100%;
	}
	.title-container {
		margin: 0 0.625rem;
		padding: 0.5rem 0;
		flex: 2;
		display: flex;
		justify-content: left;
	}

	.title {
		cursor: default;
		text-decoration: none;
		font-size: 1.9rem;
		color: whitesmoke;
		font-weight: 600;
		white-space: nowrap;
	}
	.link-container {
		display: none;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.9);
		top: 10vh;
		bottom: 0;
		right: 0;
		min-width: 50vw;
		min-height: 100vh;
	}
	.link-container.active {
		display: flex;
	}
	.link-container ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: 1rem;
	}
	.link-container ul li {
		font-size: 2rem;
	}

	.services-list-container {
		position: relative;
		top: 0;
		background-color: transparent;
		max-width: max-content;
		max-height: max-content;
	}

	.services-list li a {
		color: whitesmoke;
		font-size: 1.3rem;
		white-space: nowrap;
	}

	.navbar-button-container {
		background-color: whitesmoke;
		height: 45%;
		padding: 0 0.8rem;
		border-radius: 25rem;
		margin-right: 20px;
	}
	.navbar-shipping-button {
		text-decoration: none;
		color: black;
	}
	.hamburger {
		display: flex;
		flex-direction: column;
		width: 45px;
		height: 45%;
		border: 1px solid whitesmoke;
		border-radius: 8px;
		justify-content: space-around;
		align-items: center;
	}
	.hamburger span {
		display: flex;
		width: 55%;
		height: 12%;
		background-color: whitesmoke;
	}
	.hamburger.active span:nth-child(1) {
		display: flex;
		position: relative;
		top: 25%;
		transform: rotate(45deg);
		width: 65%;
		height: 10%;
		background-color: whitesmoke;
	}
	.hamburger.active span:nth-child(2) {
		display: flex;
		position: relative;
		bottom: 25%;
		transform: rotate(-45deg);
		width: 65%;
		height: 10%;
		background-color: whitesmoke;
	}
}
@media only screen and (max-width: 600px) {
	/*MOBILE*/
	nav {
		width: 100vw;
		max-height: 20vh;
	}
	.nav-container {
		width: 100%;
		height: 100%;
	}
	.title-container {
		margin: 0 1rem;
		padding: 0.3rem 0;
	}

	.title {
		cursor: default;
		text-decoration: none;
		font-size: 1.2rem;
		color: whitesmoke;
		font-weight: 600;
		white-space: nowrap;
	}
	.link-container {
		display: none;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.9);
		top: 10vh;
		bottom: 0;
		right: 0;
		left: 0;
		min-width: 100vw;
		min-height: 100vh;
	}
	.link-container.active {
		display: flex;
	}
	.link-container ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		row-gap: 1rem;
	}
	.link-container ul li {
		font-size: 2rem;
	}
	.navbar-button-container {
		background-color: whitesmoke;
		height: 45%;
		padding: 0 0.6rem;
		border-radius: 25rem;
		margin-right: 10px;
	}
	.navbar-shipping-button {
		text-wrap: nowrap;
		text-decoration: none;
		color: black;
		font-size: small;
	}

	.services-list-container {
		position: relative;
		top: 0;
		background-color: transparent;
		max-width: max-content;
		max-height: max-content;
	}

	.services-list li a {
		color: whitesmoke;
		font-size: 1.3rem;
		white-space: nowrap;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		width: 10%;
		height: 45%;
		border: 1px solid whitesmoke;
		border-radius: 8px;
		justify-content: space-around;
		align-items: center;
	}
	.hamburger span {
		display: flex;
		width: 45%;
		height: 10%;
		background-color: whitesmoke;
	}
	.hamburger.active span:nth-child(1) {
		display: flex;
		position: relative;
		top: 25%;
		transform: rotate(45deg);
		width: 60%;
		height: 10%;
		background-color: whitesmoke;
	}
	.hamburger.active span:nth-child(2) {
		display: flex;
		position: relative;
		bottom: 25%;
		transform: rotate(-45deg);
		width: 60%;
		height: 10%;
		background-color: whitesmoke;
	}
}
