.section-1-container {
	padding: 5rem 0;
}

.section1-text-title {
	font-weight: 600;
}
.section1-text-container {
	padding: 3rem 0;
}
.section1-text-small,
.section1-text-title {
	padding: 0 2rem;
}
.section1-description-container {
	display: flex;
	flex-direction: row;
	flex-shrink: 1;
	justify-content: space-around;
	margin: 2rem 0;
}

.section1-desciptions {
	width: 33%;
	height: fit-content;
	margin: 0 1rem;
	padding: 0 1rem;
}

.section1-icon {
	height: 2.2rem;
	width: 2.2rem;
}

.section1-desciptions-heading {
	margin-top: 0;
}

/* -----------------------Section -2------------------------------ */

.section-2-container {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	gap: 1.2rem;
	justify-content: center;
}

.cards {
	flex: 1 1 calc(50%-1.2rem);
	border: none;
	padding: 1.2rem;
}

.card-video {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}
