.services-container {
	padding: 3rem;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	gap: 2rem;
	row-gap: 4rem;
}
.service-card video {
	width: 100%;
}
.service-card {
	background-color: black;
	color: whitesmoke;
}

.service-card-text {
	padding: 2rem;
	padding-top: 0;
}

.service-card-text a {
	text-decoration: underline;
	color: whitesmoke;
	font-weight: 400;
}

@media only screen and (min-width: 600px) and (max-width: 1020px) {
	.services-container {
		margin: 0;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 600px) {
	.services-container {
		margin: 0;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
	}
}
